@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100.. 900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400 ..900&family=Protesto+Revolução&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Sarala:wght@400;700&display=swap');


*    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background: #bcddb0;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 5px;
    background:#76b366;  
    height: 35px;  
}
.cabeçalho-menu{
    display: flex;
    gap: 40px ;
    font-family: "Roboto Serif";
    font-weight: 400;
    font-size: 18px;
}
.cabecalho-menu-item {
    font-family: "Righteous", sans-serif;
    color:#4a0879;
    font-weight: 400;
    font-size: 18px;
}
.conteudo {
    margin-bottom: 48px;
    border-top: 2px solid #53ba83;
}
.conteudo-imagem {
    height: 200px;
    width:100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 48px
}
.conteudo-principal {
    display:flex ;
    align-items: center;
    justify-content: center;
}
.conteudo-principal-imagem {
    height: 400px;
    width: 50%; 
}

.conteudo-principal-imagem img {
    max-width: 100%;
    height: inherit;
    border-radius: 5px;
}


.conteudo-principal-escrito {
    display:flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.box-conteudo-principal{
    display: flex;
}
.conteudo-principal-escrito-titulo h1{
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #7705c9;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    margin-bottom: 60px;
}
.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 5px;
}
.conteudo-principal-escrito-subtitulo h2{
    font-size: 35px;
    margin-bottom: 20px;

}
.conteudo-principal-escrito-subtitulo p{
    font-size: 20px;
    margin-bottom: 20px;
}
.conteudo-principal-escrito-subtitulo a{
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
    padding: 10px;
    background-color:#9b85ff;
    box-shadow: #3e43ca;
    border-radius: 5px;
    cursor: pointer;
}
.conteudo-principal-escrito-subtitulo a:hover {
    background-color: #b75ff1;
}
.conteudo-principal-escrito-paragrafo {
    font-family: "Sarala", sans-serif;
    font-size: 15px;
    align-items: center;
    word-wrap: break-word;
    text-align: center; 
}
.conteudo-secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.conteudo-secundario-titulo {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.conteudo-secundario-titulo h3{
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #3e43ca;
}
.conteudo-secundario-titulo p{
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
}
.rodape-imagem {
    display: block;
    height: 300px;
    width:100%;
    margin: 0 auto;   
}
